@font-face { font-family: "Just Sans"; src: url("https://gfonts.gitlab.io/t/JUST_Sans_Regular.otf"); }

/*------- BASICS -------*/
body {
    margin:0;
    background:#1a1b1d;
    font-family:"Just Sans", sans-serif;
    font-size:var(--Body-Font-Size);
    letter-spacing:var(--Body-Letter-Spacing);
    color:var(--Body-Text-Color);
    line-height:var(--Body-Line-Height);
}

* {
    box-sizing:border-box;
}

@-moz-document url-prefix(){
    * { scrollbar-width:thin; }
}

a {
    color:var(--Links);
    text-decoration:none;
}

/*------- CONTAINER -------*/
.maincont {
    margin:var(--Screen-Gaps) auto;
    width:var(--Container-Width);
}

/*------- HEADER AREA -------*/
header {
    margin:auto;
    width:var(--Header-Width);
}

header article {
    margin:var(--Header-V-Gaps) auto;
    padding:calc(var(--Header-Padding) - (((var(--Body-Font-Size) * var(--Body-Line-Height)) - var(--Body-Font-Size)) / 2)) var(--Header-Padding);
    border-radius:var(--Header-Rounded-Corners);
    border:var(--Header-Border-Size) solid var(--Header-Border-Color);
    background:var(--Header-BG);
    color:var(--Header-Text-Color);
}

header article b, .caps {
    font-family:"Inter", sans-serif;
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:0.0420em;
}

header article b {
    font-size:var(--Accent-Font-Size);
    color:var(--Accent-Text-Color);
}

.caps {
    font-size:calc(var(--Accent-Font-Size) - 0.5px)!important;
}

h1, h2, h3 {
    margin:0;
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight:normal;
    font-size:1.3rem;
    text-transform:uppercase;
    letter-spacing:0.0420em;
    text-align:center;
}

header img.emoji {
    margin-right:4px;
    display:inline-block;
    width:1.5rem;
    vertical-align:calc(1.5rem* -0.3);
    user-drag:none;
    -webkit-user-drag:none;
}

.psa {
    transform:rotate(45deg);
    transform-origin:center;
    filter:contrast(94%) hue-rotate(0deg);
}

.icons-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(calc(var(--Icons-Total-Width) + (var(--Icons-Spacing)* 2)), 1fr));
    grid-gap:var(--Icons-Spacing);
    align-items:flex-start;
    justify-content:center;
}

.icons-grid:last-child {
    margin-bottom:calc(0px - var(--Icons-Padding));
}

.icons-grid .icon-single {
    padding: var(--Icons-Padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Icons-Name-Gap);
    text-align: center;
    word-break: break-all;
    border-radius: var(--Icons-Rounded-Corners);
    cursor: pointer;
    transition: background-color var(--Icons-Hover-Speed) ease-in-out;
}

.icons-grid .icon-single:hover {
    background-color:var(--Icons-Hover-BG);
}

.icons-grid i.aa-line-icons {
    display: block;
    font-size: var(--Icons-Size);
    color: var(--Icons-Color);
}

.icons-grid .icon-name {
    font-size:var(--Icons-Name-Size);
}

.credz {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 22px;
    margin-left: 22px;
}

.credz, .credz * {
    line-height:0;
}

.credz button {
    padding: 0.6rem;
    background: var(--Icons-Hover-BG);
    border-radius: 5px;
    cursor: pointer;
    border:none;
}

.credz button i[class]{
    display: block;
    width: var(--Credit-Cog-Size);
    height: var(--Credit-Cog-Size);
    display: grid;
    place-items: center;
    font-size: var(--Credit-Cog-Size);
    color: var(--Icons-Color);
    transform-origin: center;
}

.credz button:hover i[class]{
    animation:spinz 2s linear 0s infinite normal forwards;
}

.credz button .aa-line-icons:before {
    display:block;
    margin-top:0.5px;
}

@keyframes spinz {
    from { transform:rotate(0deg) }
    to { transform:rotate(360deg) }
}

/*----- POPIFY STYLING -----*/
[popify]{
	position:fixed;
	top:0;left:0;
	width:100vw;
	height:100vh;
	backdrop-filter:blur(6px);
	z-index:10; /* increase this number if you can't see your popup */
	
	display:none;
	opacity:0;
}

[popify].show {
	display:flex;
	align-items:center;
	justify-content:center;
}

.popup-box {
    position:relative;
    background:var(--Popup-BG);
    border-radius:0.69rem;
    box-shadow:0 10px 45px 0 rgba(0,0,0,4%);
    padding:22px 25px;
    width:var(--Popup-Width);
    box-sizing:border-box;
}

.popup-box h2 {
    font-size:1.15rem;
}

.close-popup {
    position:absolute;
    top:0;right:0;
    margin-top:4px;
    margin-right:4px;
    border:none;
    background:transparent;
    color:var(--Popup-Close-Color);
    padding:0.6rem;
    line-height:1;
    font-size:var(--Popup-Close-Icon-Size);
    cursor:pointer;
    transition:color 0.2s ease-in-out;
}

.close-popup:hover {
    color:var(--Popup-Close-Hover-Color);
}

.popup-box ul {
    padding-left:1.5em;
}

.popup-box ul li {
    padding-left:0.25em;
}
