:root {
    --Screen-Gaps:10vh;
    --Container-Width:clamp(65vw, 888px, 85vw);

    --Header-Width:clamp(calc(65vw * 0.75), calc(888px * 0.75), calc(85vw * 0.75));

    --Header-V-Gaps:1.69rem;

    --Header-Padding:25px;
    --Header-Rounded-Corners:8px;
    --Header-Border-Size:1px;
    --Header-Border-Color:rgba(255,255,255,0.15);
    --Header-BG:transparent;
    --Header-Text-Color:var(--Body-Text-Color);

    --Body-Font-Size:0.9rem;
    --Body-Text-Color:#dad8d6;
    --Body-Letter-Spacing:0.15px;
    --Body-Line-Height:1.69;

    --Accent-Font-Size:calc(var(--Body-Font-Size) - 1.5px);
    --Accent-Text-Color:#85a597;

    --Links:#8ec165;

    --Icons-Padding: 1.69rem;
    --Icons-Rounded-Corners: 5px;
    --Icons-Size: 1.5rem;
    --Icons-Color: var(--Body-Text-Color);
    --Icons-Total-Width: calc(var(--Icons-Size) + (var(--Icons-Padding) * 2));
    --Icons-Name-Size: 0.9rem;
    --Icons-Name-Gap: 0.8rem;
    --Icons-Spacing: 0.75rem;
    --Icons-Hover-BG: #2d2e32;
    --Icons-Hover-Speed: 0.2s;

    --Popup-Width:clamp(min(35vw, 350px), 500px, 70vw);
    --Popup-BG:#2d2e32;
    --Popup-Close-Icon-Size:0.75rem;
    --Popup-Close-Color:#ccc;
    --Popup-Close-Hover-Color:var(--Body-Text-Color);
    --Credit-Cog-Size:1rem;
}
