/*------------------------------------------------------

   450+ Line Icons (c) Ahmed Agrma

   * BEHANCE: behance.net/gallery/94660737/400-Free-Line-Icons
   * LIST: aa-line-icons.gitlab.io/i/icons-list
   * USAGE: git.new/aa-line-icons

-------------------------------------------------------*/

@font-face {
  font-family: 'aa-line-icons';
  src: url('./files/aa-line-icons.eot?11772808');
  src: url('./files/aa-line-icons.eot?11772808#iefix') format('embedded-opentype'),
       url('./files/aa-line-icons.woff2?11772808') format('woff2'),
       url('./files/aa-line-icons.woff?11772808') format('woff'),
       url('./files/aa-line-icons.ttf?11772808') format('truetype'),
       url('./files/aa-line-icons.svg?11772808#aa-line-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'aa-line-icons';
    src: url('./files/aa-line-icons.svg?11772808#aa-line-icons') format('svg');
  }
}

.aa-line-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aa-line-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aa-line-icons[icon-name="4k"]:before { content: '\e800'; } 
.aa-line-icons[icon-name="5k"]:before { content: '\e801'; } 
.aa-line-icons[icon-name="360-mobile"]:before { content: '\e802'; } 
.aa-line-icons[icon-name="360"]:before { content: '\e803'; } 
.aa-line-icons[icon-name="account-circle"]:before { content: '\e804'; } 
.aa-line-icons[icon-name="account"]:before { content: '\e805'; } 
.aa-line-icons[icon-name="add-account"]:before { content: '\e806'; } 
.aa-line-icons[icon-name="add-circle"]:before { content: '\e807'; } 
.aa-line-icons[icon-name="add-event"]:before { content: '\e808'; } 
.aa-line-icons[icon-name="add-post"]:before { content: '\e809'; } 
.aa-line-icons[icon-name="add-shopping-cart-1"]:before { content: '\e80a'; } 
.aa-line-icons[icon-name="add-shopping-cart-2"]:before { content: '\e80b'; } 
.aa-line-icons[icon-name="add-to-queue"]:before { content: '\e80c'; } 
.aa-line-icons[icon-name="add"]:before { content: '\e80d'; } 
.aa-line-icons[icon-name="adobe-acrobat"]:before { content: '\e80e'; } 
.aa-line-icons[icon-name="airbnb"]:before { content: '\e80f'; } 
.aa-line-icons[icon-name="aircon"]:before { content: '\e810'; } 
.aa-line-icons[icon-name="airplane-1"]:before { content: '\e811'; } 
.aa-line-icons[icon-name="airplane-land"]:before { content: '\e812'; } 
.aa-line-icons[icon-name="airplane-off"]:before { content: '\e813'; } 
.aa-line-icons[icon-name="airplane-takeoff"]:before { content: '\e814'; } 
.aa-line-icons[icon-name="airplane"]:before { content: '\e815'; } 
.aa-line-icons[icon-name="airplay"]:before { content: '\e816'; } 
.aa-line-icons[icon-name="alarm-add"]:before { content: '\e817'; } 
.aa-line-icons[icon-name="alarm-off"]:before { content: '\e818'; } 
.aa-line-icons[icon-name="alarm-on"]:before { content: '\e819'; } 
.aa-line-icons[icon-name="alarm"]:before { content: '\e81a'; } 
.aa-line-icons[icon-name="align-center"]:before { content: '\e81b'; } 
.aa-line-icons[icon-name="align-left"]:before { content: '\e81c'; } 
.aa-line-icons[icon-name="align-right"]:before { content: '\e81d'; } 
.aa-line-icons[icon-name="ambulance"]:before { content: '\e81e'; } 
.aa-line-icons[icon-name="apple"]:before { content: '\e81f'; } 
.aa-line-icons[icon-name="apps"]:before { content: '\e820'; } 
.aa-line-icons[icon-name="archive"]:before { content: '\e821'; } 
.aa-line-icons[icon-name="arrow-down-1"]:before { content: '\e822'; } 
.aa-line-icons[icon-name="arrow-down"]:before { content: '\e823'; } 
.aa-line-icons[icon-name="arrow-left"]:before { content: '\e824'; } 
.aa-line-icons[icon-name="arrow-right-1"]:before { content: '\e825'; } 
.aa-line-icons[icon-name="arrow-right"]:before { content: '\e826'; } 
.aa-line-icons[icon-name="arrow-up-1"]:before { content: '\e827'; } 
.aa-line-icons[icon-name="arrow-up"]:before { content: '\e828'; } 
.aa-line-icons[icon-name="atm"]:before { content: '\e829'; } 
.aa-line-icons[icon-name="backspace"]:before { content: '\e82a'; } 
.aa-line-icons[icon-name="bag"]:before { content: '\e82b'; } 
.aa-line-icons[icon-name="balloon"]:before { content: '\e82c'; } 
.aa-line-icons[icon-name="bank"]:before { content: '\e82d'; } 
.aa-line-icons[icon-name="baseball"]:before { content: '\e82e'; } 
.aa-line-icons[icon-name="basketball"]:before { content: '\e82f'; } 
.aa-line-icons[icon-name="bathtub"]:before { content: '\e830'; } 
.aa-line-icons[icon-name="bed"]:before { content: '\e831'; } 
.aa-line-icons[icon-name="behance"]:before { content: '\e832'; } 
.aa-line-icons[icon-name="bicycle"]:before { content: '\e833'; } 
.aa-line-icons[icon-name="bluetooth-off"]:before { content: '\e834'; } 
.aa-line-icons[icon-name="bluetooth"]:before { content: '\e835'; } 
.aa-line-icons[icon-name="book-closed"]:before { content: '\e836'; } 
.aa-line-icons[icon-name="bookmark"]:before { content: '\e837'; } 
.aa-line-icons[icon-name="brush"]:before { content: '\e838'; } 
.aa-line-icons[icon-name="bug"]:before { content: '\e839'; } 
.aa-line-icons[icon-name="bus-1"]:before { content: '\e83a'; } 
.aa-line-icons[icon-name="bus"]:before { content: '\e83b'; } 
.aa-line-icons[icon-name="calculator"]:before { content: '\e83c'; } 
.aa-line-icons[icon-name="calendar"]:before { content: '\e83d'; } 
.aa-line-icons[icon-name="call-end"]:before { content: '\e83e'; } 
.aa-line-icons[icon-name="call-incoming"]:before { content: '\e83f'; } 
.aa-line-icons[icon-name="call-missed-outgoing"]:before { content: '\e840'; } 
.aa-line-icons[icon-name="call-outgoing"]:before { content: '\e841'; } 
.aa-line-icons[icon-name="call"]:before { content: '\e842'; } 
.aa-line-icons[icon-name="camera"]:before { content: '\e843'; } 
.aa-line-icons[icon-name="call-missed-incoming"]:before { content: '\e844'; } 
.aa-line-icons[icon-name="car-trailer"]:before { content: '\e845'; } 
.aa-line-icons[icon-name="car"]:before { content: '\e846'; } 
.aa-line-icons[icon-name="cast"]:before { content: '\e847'; } 
.aa-line-icons[icon-name="cctv-1"]:before { content: '\e848'; } 
.aa-line-icons[icon-name="cctv-2"]:before { content: '\e849'; } 
.aa-line-icons[icon-name="chair"]:before { content: '\e84a'; } 
.aa-line-icons[icon-name="check"]:before { content: '\e84b'; } 
.aa-line-icons[icon-name="chevron-down"]:before { content: '\e84c'; } 
.aa-line-icons[icon-name="chevron-left-thick"]:before { content: '\e84d'; } 
.aa-line-icons[icon-name="chevron-right-thick"]:before { content: '\e84e'; } 
.aa-line-icons[icon-name="chevron-right"]:before { content: '\e84f'; } 
.aa-line-icons[icon-name="chevron-up"]:before { content: '\e850'; } 
.aa-line-icons[icon-name="clipboard-text"]:before { content: '\e851'; } 
.aa-line-icons[icon-name="clipboard-tick"]:before { content: '\e852'; } 
.aa-line-icons[icon-name="clipboard-user"]:before { content: '\e853'; } 
.aa-line-icons[icon-name="clipboard-warning"]:before { content: '\e854'; } 
.aa-line-icons[icon-name="cloud-and-sun"]:before { content: '\e855'; } 
.aa-line-icons[icon-name="cloud-off"]:before { content: '\e856'; } 
.aa-line-icons[icon-name="cloud-upload"]:before { content: '\e857'; } 
.aa-line-icons[icon-name="cloud"]:before { content: '\e858'; } 
.aa-line-icons[icon-name="code"]:before { content: '\e859'; } 
.aa-line-icons[icon-name="coffee"]:before { content: '\e85a'; } 
.aa-line-icons[icon-name="charger"]:before { content: '\e85b'; } 
.aa-line-icons[icon-name="computer"]:before { content: '\e85c'; } 
.aa-line-icons[icon-name="concrete-truck"]:before { content: '\e85d'; } 
.aa-line-icons[icon-name="confetti"]:before { content: '\e85e'; } 
.aa-line-icons[icon-name="copy"]:before { content: '\e85f'; } 
.aa-line-icons[icon-name="coupon-1"]:before { content: '\e860'; } 
.aa-line-icons[icon-name="cloud-download"]:before { content: '\e861'; } 
.aa-line-icons[icon-name="chat-bubbles"]:before { content: '\e862'; } 
.aa-line-icons[icon-name="check-circle"]:before { content: '\e863'; } 
.aa-line-icons[icon-name="coupon-2"]:before { content: '\e864'; } 
.aa-line-icons[icon-name="creative-cloud"]:before { content: '\e865'; } 
.aa-line-icons[icon-name="credit-card"]:before { content: '\e866'; } 
.aa-line-icons[icon-name="curtain"]:before { content: '\e867'; } 
.aa-line-icons[icon-name="dashboard"]:before { content: '\e868'; } 
.aa-line-icons[icon-name="devices"]:before { content: '\e869'; } 
.aa-line-icons[icon-name="directions"]:before { content: '\e86a'; } 
.aa-line-icons[icon-name="discount"]:before { content: '\e86b'; } 
.aa-line-icons[icon-name="dislike"]:before { content: '\e86c'; } 
.aa-line-icons[icon-name="document-editing"]:before { content: '\e86d'; } 
.aa-line-icons[icon-name="document-search"]:before { content: '\e86e'; } 
.aa-line-icons[icon-name="document-view"]:before { content: '\e86f'; } 
.aa-line-icons[icon-name="document"]:before { content: '\e870'; } 
.aa-line-icons[icon-name="download"]:before { content: '\e871'; } 
.aa-line-icons[icon-name="dribbble"]:before { content: '\e872'; } 
.aa-line-icons[icon-name="drill"]:before { content: '\e873'; } 
.aa-line-icons[icon-name="dropbox"]:before { content: '\e874'; } 
.aa-line-icons[icon-name="dumper"]:before { content: '\e875'; } 
.aa-line-icons[icon-name="edit"]:before { content: '\e876'; } 
.aa-line-icons[icon-name="eject-circle"]:before { content: '\e877'; } 
.aa-line-icons[icon-name="eject"]:before { content: '\e878'; } 
.aa-line-icons[icon-name="elevator"]:before { content: '\e879'; } 
.aa-line-icons[icon-name="equalizer-1"]:before { content: '\e87a'; } 
.aa-line-icons[icon-name="equalizer-2"]:before { content: '\e87b'; } 
.aa-line-icons[icon-name="equalizer-3"]:before { content: '\e87c'; } 
.aa-line-icons[icon-name="eraser"]:before { content: '\e87d'; } 
.aa-line-icons[icon-name="error"]:before { content: '\e87e'; } 
.aa-line-icons[icon-name="event-off"]:before { content: '\e87f'; } 
.aa-line-icons[icon-name="event-on"]:before { content: '\e880'; } 
.aa-line-icons[icon-name="excavator"]:before { content: '\e881'; } 
.aa-line-icons[icon-name="exit-full-screen"]:before { content: '\e882'; } 
.aa-line-icons[icon-name="explore-off"]:before { content: '\e883'; } 
.aa-line-icons[icon-name="explore"]:before { content: '\e884'; } 
.aa-line-icons[icon-name="export"]:before { content: '\e885'; } 
.aa-line-icons[icon-name="eye-off"]:before { content: '\e886'; } 
.aa-line-icons[icon-name="eye"]:before { content: '\e887'; } 
.aa-line-icons[icon-name="eyedropper"]:before { content: '\e888'; } 
.aa-line-icons[icon-name="face-happy"]:before { content: '\e889'; } 
.aa-line-icons[icon-name="face-id"]:before { content: '\e88a'; } 
.aa-line-icons[icon-name="face-sad"]:before { content: '\e88b'; } 
.aa-line-icons[icon-name="facebook"]:before { content: '\e88c'; } 
.aa-line-icons[icon-name="fan-1"]:before { content: '\e88d'; } 
.aa-line-icons[icon-name="fan-2"]:before { content: '\e88e'; } 
.aa-line-icons[icon-name="fan-3"]:before { content: '\e88f'; } 
.aa-line-icons[icon-name="fast-forward"]:before { content: '\e890'; } 
.aa-line-icons[icon-name="fast-rewind"]:before { content: '\e891'; } 
.aa-line-icons[icon-name="faucet"]:before { content: '\e892'; } 
.aa-line-icons[icon-name="file-copy"]:before { content: '\e893'; } 
.aa-line-icons[icon-name="filter-list"]:before { content: '\e894'; } 
.aa-line-icons[icon-name="filter"]:before { content: '\e895'; } 
.aa-line-icons[icon-name="find-in-page"]:before { content: '\e896'; } 
.aa-line-icons[icon-name="find-replace"]:before { content: '\e897'; } 
.aa-line-icons[icon-name="fingerprint-1"]:before { content: '\e898'; } 
.aa-line-icons[icon-name="fingerprint-2"]:before { content: '\e899'; } 
.aa-line-icons[icon-name="fire"]:before { content: '\e89a'; } 
.aa-line-icons[icon-name="first-aid"]:before { content: '\e89b'; } 
.aa-line-icons[icon-name="fish"]:before { content: '\e89c'; } 
.aa-line-icons[icon-name="fishing"]:before { content: '\e89d'; } 
.aa-line-icons[icon-name="flag"]:before { content: '\e89e'; } 
.aa-line-icons[icon-name="flash-off"]:before { content: '\e89f'; } 
.aa-line-icons[icon-name="flash"]:before { content: '\e8a0'; } 
.aa-line-icons[icon-name="flashlight"]:before { content: '\e8a1'; } 
.aa-line-icons[icon-name="flower"]:before { content: '\e8a2'; } 
.aa-line-icons[icon-name="folder-editing"]:before { content: '\e8a3'; } 
.aa-line-icons[icon-name="folder-open"]:before { content: '\e8a4'; } 
.aa-line-icons[icon-name="folder-settings"]:before { content: '\e8a5'; } 
.aa-line-icons[icon-name="folder-view"]:before { content: '\e8a6'; } 
.aa-line-icons[icon-name="folder"]:before { content: '\e8a7'; } 
.aa-line-icons[icon-name="football"]:before { content: '\e8a8'; } 
.aa-line-icons[icon-name="forklift"]:before { content: '\e8a9'; } 
.aa-line-icons[icon-name="form-editing"]:before { content: '\e8aa'; } 
.aa-line-icons[icon-name="form"]:before { content: '\e8ab'; } 
.aa-line-icons[icon-name="format-align-center"]:before { content: '\e8ac'; } 
.aa-line-icons[icon-name="format-align-justify"]:before { content: '\e8ad'; } 
.aa-line-icons[icon-name="format-align-left"]:before { content: '\e8ae'; } 
.aa-line-icons[icon-name="format-align-right"]:before { content: '\e8af'; } 
.aa-line-icons[icon-name="format-bold"]:before { content: '\e8b0'; } 
.aa-line-icons[icon-name="format-italic"]:before { content: '\e8b1'; } 
.aa-line-icons[icon-name="format-shapes"]:before { content: '\e8b2'; } 
.aa-line-icons[icon-name="format-size"]:before { content: '\e8b3'; } 
.aa-line-icons[icon-name="format-strikethrough"]:before { content: '\e8b4'; } 
.aa-line-icons[icon-name="format-underlined"]:before { content: '\e8b5'; } 
.aa-line-icons[icon-name="forward-5"]:before { content: '\e8b6'; } 
.aa-line-icons[icon-name="forward-10"]:before { content: '\e8b7'; } 
.aa-line-icons[icon-name="forward-30"]:before { content: '\e8b8'; } 
.aa-line-icons[icon-name="frying-pan"]:before { content: '\e8b9'; } 
.aa-line-icons[icon-name="full-screen"]:before { content: '\e8ba'; } 
.aa-line-icons[icon-name="fullscreen-exit"]:before { content: '\e8bb'; } 
.aa-line-icons[icon-name="fullscreen"]:before { content: '\e8bc'; } 
.aa-line-icons[icon-name="garage"]:before { content: '\e8bd'; } 
.aa-line-icons[icon-name="gas-station"]:before { content: '\e8be'; } 
.aa-line-icons[icon-name="gavel"]:before { content: '\e8bf'; } 
.aa-line-icons[icon-name="gesture"]:before { content: '\e8c0'; } 
.aa-line-icons[icon-name="gif"]:before { content: '\e8c1'; } 
.aa-line-icons[icon-name="gift"]:before { content: '\e8c2'; } 
.aa-line-icons[icon-name="github"]:before { content: '\e8c3'; } 
.aa-line-icons[icon-name="globe"]:before { content: '\e8c4'; } 
.aa-line-icons[icon-name="golf"]:before { content: '\e8c5'; } 
.aa-line-icons[icon-name="google-play"]:before { content: '\e8c6'; } 
.aa-line-icons[icon-name="gps"]:before { content: '\e8c7'; } 
.aa-line-icons[icon-name="graduation"]:before { content: '\e8c8'; } 
.aa-line-icons[icon-name="grape"]:before { content: '\e8c9'; } 
.aa-line-icons[icon-name="grill"]:before { content: '\e8ca'; } 
.aa-line-icons[icon-name="group"]:before { content: '\e8cb'; } 
.aa-line-icons[icon-name="gym"]:before { content: '\e8cc'; } 
.aa-line-icons[icon-name="hairdryer"]:before { content: '\e8cd'; } 
.aa-line-icons[icon-name="hand"]:before { content: '\e8ce'; } 
.aa-line-icons[icon-name="hatchet"]:before { content: '\e8cf'; } 
.aa-line-icons[icon-name="hd"]:before { content: '\e8d0'; } 
.aa-line-icons[icon-name="headset-mic"]:before { content: '\e8d1'; } 
.aa-line-icons[icon-name="headset"]:before { content: '\e8d2'; } 
.aa-line-icons[icon-name="heart"]:before { content: '\e8d3'; } 
.aa-line-icons[icon-name="helicopter"]:before { content: '\e8d4'; } 
.aa-line-icons[icon-name="help-2"]:before { content: '\e8d5'; } 
.aa-line-icons[icon-name="help"]:before { content: '\e8d6'; } 
.aa-line-icons[icon-name="history"]:before { content: '\e8d7'; } 
.aa-line-icons[icon-name="home"]:before { content: '\e8d8'; } 
.aa-line-icons[icon-name="hourglass"]:before { content: '\e8d9'; } 
.aa-line-icons[icon-name="http"]:before { content: '\e8da'; } 
.aa-line-icons[icon-name="ice-cream"]:before { content: '\e8db'; } 
.aa-line-icons[icon-name="image"]:before { content: '\e8dc'; } 
.aa-line-icons[icon-name="import"]:before { content: '\e8dd'; } 
.aa-line-icons[icon-name="inbox"]:before { content: '\e8de'; } 
.aa-line-icons[icon-name="info"]:before { content: '\e8df'; } 
.aa-line-icons[icon-name="injection"]:before { content: '\e8e0'; } 
.aa-line-icons[icon-name="instagram"]:before { content: '\e8e1'; } 
.aa-line-icons[icon-name="intercom"]:before { content: '\e8e2'; } 
.aa-line-icons[icon-name="invoice"]:before { content: '\e8e3'; } 
.aa-line-icons[icon-name="islamic-art"]:before { content: '\e8e4'; } 
.aa-line-icons[icon-name="jigsaw"]:before { content: '\e8e5'; } 
.aa-line-icons[icon-name="key"]:before { content: '\e8e6'; } 
.aa-line-icons[icon-name="keyboard"]:before { content: '\e8e7'; } 
.aa-line-icons[icon-name="kiosk"]:before { content: '\e8e8'; } 
.aa-line-icons[icon-name="knife"]:before { content: '\e8e9'; } 
.aa-line-icons[icon-name="laptop"]:before { content: '\e8ea'; } 
.aa-line-icons[icon-name="lawnmower"]:before { content: '\e8eb'; } 
.aa-line-icons[icon-name="layers"]:before { content: '\e8ec'; } 
.aa-line-icons[icon-name="light-bulb"]:before { content: '\e8ed'; } 
.aa-line-icons[icon-name="lighter"]:before { content: '\e8ee'; } 
.aa-line-icons[icon-name="like"]:before { content: '\e8ef'; } 
.aa-line-icons[icon-name="link-off"]:before { content: '\e8f0'; } 
.aa-line-icons[icon-name="link"]:before { content: '\e8f1'; } 
.aa-line-icons[icon-name="linkedin"]:before { content: '\e8f2'; } 
.aa-line-icons[icon-name="list"]:before { content: '\e8f3'; } 
.aa-line-icons[icon-name="live"]:before { content: '\e8f4'; } 
.aa-line-icons[icon-name="lock-open"]:before { content: '\e8f5'; } 
.aa-line-icons[icon-name="lock"]:before { content: '\e8f6'; } 
.aa-line-icons[icon-name="logout"]:before { content: '\e8f7'; } 
.aa-line-icons[icon-name="mail"]:before { content: '\e8f8'; } 
.aa-line-icons[icon-name="meat"]:before { content: '\e8f9'; } 
.aa-line-icons[icon-name="medal-1"]:before { content: '\e8fa'; } 
.aa-line-icons[icon-name="medal-2"]:before { content: '\e8fb'; } 
.aa-line-icons[icon-name="megaphone"]:before { content: '\e8fc'; } 
.aa-line-icons[icon-name="memory"]:before { content: '\e8fd'; } 
.aa-line-icons[icon-name="menu"]:before { content: '\e8fe'; } 
.aa-line-icons[icon-name="message-1"]:before { content: '\e8ff'; } 
.aa-line-icons[icon-name="message"]:before { content: '\e900'; } 
.aa-line-icons[icon-name="messenger"]:before { content: '\e901'; } 
.aa-line-icons[icon-name="mic"]:before { content: '\e902'; } 
.aa-line-icons[icon-name="milk-1"]:before { content: '\e903'; } 
.aa-line-icons[icon-name="milk-2"]:before { content: '\e904'; } 
.aa-line-icons[icon-name="molecules"]:before { content: '\e905'; } 
.aa-line-icons[icon-name="money-circle"]:before { content: '\e906'; } 
.aa-line-icons[icon-name="money"]:before { content: '\e907'; } 
.aa-line-icons[icon-name="moon-and-cloud"]:before { content: '\e908'; } 
.aa-line-icons[icon-name="moon"]:before { content: '\e909'; } 
.aa-line-icons[icon-name="more-horizontal"]:before { content: '\e90a'; } 
.aa-line-icons[icon-name="more-vertical"]:before { content: '\e90b'; } 
.aa-line-icons[icon-name="mosque"]:before { content: '\e90c'; } 
.aa-line-icons[icon-name="motorbike"]:before { content: '\e90d'; } 
.aa-line-icons[icon-name="mouse"]:before { content: '\e90e'; } 
.aa-line-icons[icon-name="music-list"]:before { content: '\e90f'; } 
.aa-line-icons[icon-name="music-off"]:before { content: '\e910'; } 
.aa-line-icons[icon-name="music"]:before { content: '\e911'; } 
.aa-line-icons[icon-name="music-2"]:before { content: '\e954'; }
.aa-line-icons[icon-name="navigation"]:before { content: '\e912'; } 
.aa-line-icons[icon-name="network-server"]:before { content: '\e913'; } 
.aa-line-icons[icon-name="news"]:before { content: '\e914'; } 
.aa-line-icons[icon-name="no-smoking"]:before { content: '\e915'; } 
.aa-line-icons[icon-name="not-allowed"]:before { content: '\e916'; } 
.aa-line-icons[icon-name="notification-important"]:before { content: '\e917'; } 
.aa-line-icons[icon-name="notifications-off"]:before { content: '\e918'; } 
.aa-line-icons[icon-name="notifications"]:before { content: '\e919'; } 
.aa-line-icons[icon-name="object"]:before { content: '\e91a'; } 
.aa-line-icons[icon-name="offer"]:before { content: '\e91b'; } 
.aa-line-icons[icon-name="office-chair"]:before { content: '\e91c'; } 
.aa-line-icons[icon-name="office-lamp"]:before { content: '\e91d'; } 
.aa-line-icons[icon-name="office"]:before { content: '\e91e'; } 
.aa-line-icons[icon-name="open-with"]:before { content: '\e91f'; } 
.aa-line-icons[icon-name="paint-roller"]:before { content: '\e920'; } 
.aa-line-icons[icon-name="palette"]:before { content: '\e921'; } 
.aa-line-icons[icon-name="paperclip-1"]:before { content: '\e922'; } 
.aa-line-icons[icon-name="paperclip-2"]:before { content: '\e923'; } 
.aa-line-icons[icon-name="paperclip"]:before { content: '\e924'; } 
.aa-line-icons[icon-name="pause-circle"]:before { content: '\e925'; } 
.aa-line-icons[icon-name="pause"]:before { content: '\e926'; } 
.aa-line-icons[icon-name="paypal"]:before { content: '\e927'; } 
.aa-line-icons[icon-name="pdf"]:before { content: '\e928'; } 
.aa-line-icons[icon-name="person-card"]:before { content: '\e929'; } 
.aa-line-icons[icon-name="phone-disabled"]:before { content: '\e92a'; } 
.aa-line-icons[icon-name="phone"]:before { content: '\e92b'; } 
.aa-line-icons[icon-name="pickup-truck"]:before { content: '\e92c'; } 
.aa-line-icons[icon-name="pie-chart"]:before { content: '\e92d'; } 
.aa-line-icons[icon-name="pin-1"]:before { content: '\e92e'; } 
.aa-line-icons[icon-name="pin-2"]:before { content: '\e92f'; } 
.aa-line-icons[icon-name="play-circle"]:before { content: '\e930'; } 
.aa-line-icons[icon-name="play"]:before { content: '\e931'; } 
.aa-line-icons[icon-name="plug"]:before { content: '\e932'; } 
.aa-line-icons[icon-name="points"]:before { content: '\e933'; } 
.aa-line-icons[icon-name="position-center"]:before { content: '\e934'; } 
.aa-line-icons[icon-name="position-left"]:before { content: '\e935'; } 
.aa-line-icons[icon-name="position-right"]:before { content: '\e936'; } 
.aa-line-icons[icon-name="power"]:before { content: '\e937'; } 
.aa-line-icons[icon-name="prayer-1"]:before { content: '\e938'; } 
.aa-line-icons[icon-name="prayer-2"]:before { content: '\e939'; } 
.aa-line-icons[icon-name="prayer-rug"]:before { content: '\e93a'; } 
.aa-line-icons[icon-name="print"]:before { content: '\e93b'; } 
.aa-line-icons[icon-name="profits"]:before { content: '\e93c'; } 
.aa-line-icons[icon-name="quran"]:before { content: '\e93d'; } 
.aa-line-icons[icon-name="radio"]:before { content: '\e93e'; } 
.aa-line-icons[icon-name="rain"]:before { content: '\e93f'; } 
.aa-line-icons[icon-name="real-estate"]:before { content: '\e940'; } 
.aa-line-icons[icon-name="receipt"]:before { content: '\e941'; } 
.aa-line-icons[icon-name="redo-arrow-1"]:before { content: '\e942'; } 
.aa-line-icons[icon-name="redo-arrow-2"]:before { content: '\e943'; } 
.aa-line-icons[icon-name="refresh-1"]:before { content: '\e944'; } 
.aa-line-icons[icon-name="refresh"]:before { content: '\e945'; } 
.aa-line-icons[icon-name="refrigerator"]:before { content: '\e946'; } 
.aa-line-icons[icon-name="reload"]:before { content: '\e947'; } 
.aa-line-icons[icon-name="remote"]:before { content: '\e948'; } 
.aa-line-icons[icon-name="remove-circle"]:before { content: '\e949'; } 
.aa-line-icons[icon-name="remove"]:before { content: '\e94a'; } 
.aa-line-icons[icon-name="repeat"]:before { content: '\e94b'; } 
.aa-line-icons[icon-name="replay-5"]:before { content: '\e94c'; } 
.aa-line-icons[icon-name="replay-10"]:before { content: '\e94d'; } 
.aa-line-icons[icon-name="replay-30"]:before { content: '\e94e'; } 
.aa-line-icons[icon-name="report"]:before { content: '\e94f'; } 
.aa-line-icons[icon-name="restaurant-menu"]:before { content: '\e950'; } 
.aa-line-icons[icon-name="restaurant"]:before { content: '\e951'; } 
.aa-line-icons[icon-name="rice-2"]:before { content: '\e952'; } 
.aa-line-icons[icon-name="rice"]:before { content: '\e953'; } 
.aa-line-icons[icon-name="ringtone"]:before { content: '\e954'; } 
.aa-line-icons[icon-name="rocket"]:before { content: '\e955'; } 
.aa-line-icons[icon-name="router"]:before { content: '\e956'; } 
.aa-line-icons[icon-name="ruler"]:before { content: '\e957'; } 
.aa-line-icons[icon-name="satellite"]:before { content: '\e958'; } 
.aa-line-icons[icon-name="save-alt"]:before { content: '\e959'; } 
.aa-line-icons[icon-name="scan"]:before { content: '\e95a'; } 
.aa-line-icons[icon-name="school"]:before { content: '\e95b'; } 
.aa-line-icons[icon-name="scissors"]:before { content: '\e95c'; } 
.aa-line-icons[icon-name="screwdriver"]:before { content: '\e95d'; } 
.aa-line-icons[icon-name="sd-card"]:before { content: '\e95e'; } 
.aa-line-icons[icon-name="search"]:before { content: '\e95f'; } 
.aa-line-icons[icon-name="security"]:before { content: '\e960'; } 
.aa-line-icons[icon-name="send-1"]:before { content: '\e961'; } 
.aa-line-icons[icon-name="send-2"]:before { content: '\e962'; } 
.aa-line-icons[icon-name="server-lock"]:before { content: '\e963'; } 
.aa-line-icons[icon-name="server"]:before { content: '\e964'; } 
.aa-line-icons[icon-name="settings"]:before { content: '\e965'; } 
.aa-line-icons[icon-name="share"]:before { content: '\e966'; } 
.aa-line-icons[icon-name="ship"]:before { content: '\e967'; } 
.aa-line-icons[icon-name="shop"]:before { content: '\e968'; } 
.aa-line-icons[icon-name="shopping-basket"]:before { content: '\e969'; } 
.aa-line-icons[icon-name="shopping-cart-1"]:before { content: '\e96a'; } 
.aa-line-icons[icon-name="shopping-cart-tick"]:before { content: '\e96b'; } 
.aa-line-icons[icon-name="shuffle"]:before { content: '\e96c'; } 
.aa-line-icons[icon-name="signal"]:before { content: '\e96d'; } 
.aa-line-icons[icon-name="sim-card"]:before { content: '\e96e'; } 
.aa-line-icons[icon-name="sketch"]:before { content: '\e96f'; } 
.aa-line-icons[icon-name="skip-next"]:before { content: '\e970'; } 
.aa-line-icons[icon-name="skip-previous"]:before { content: '\e971'; } 
.aa-line-icons[icon-name="skype"]:before { content: '\e972'; } 
.aa-line-icons[icon-name="smoking"]:before { content: '\e973'; } 
.aa-line-icons[icon-name="snapchat"]:before { content: '\e974'; } 
.aa-line-icons[icon-name="sofa"]:before { content: '\e975'; } 
.aa-line-icons[icon-name="sort"]:before { content: '\e976'; } 
.aa-line-icons[icon-name="speed"]:before { content: '\e977'; } 
.aa-line-icons[icon-name="square-foot"]:before { content: '\e978'; } 
.aa-line-icons[icon-name="star"]:before { content: '\e979'; } 
.aa-line-icons[icon-name="stop"]:before { content: '\e97a'; } 
.aa-line-icons[icon-name="store"]:before { content: '\e97b'; } 
.aa-line-icons[icon-name="subdirectory-arrow-left"]:before { content: '\e97c'; } 
.aa-line-icons[icon-name="subdirectory-arrow-right"]:before { content: '\e97d'; } 
.aa-line-icons[icon-name="subscribe-1"]:before { content: '\e97e'; } 
.aa-line-icons[icon-name="subscribe-2"]:before { content: '\e97f'; } 
.aa-line-icons[icon-name="subscribe-3"]:before { content: '\e980'; } 
.aa-line-icons[icon-name="sunny"]:before { content: '\e981'; } 
.aa-line-icons[icon-name="swap-horiz"]:before { content: '\e982'; } 
.aa-line-icons[icon-name="swap-horizontal"]:before { content: '\e983'; } 
.aa-line-icons[icon-name="swap-vert"]:before { content: '\e984'; } 
.aa-line-icons[icon-name="swift"]:before { content: '\e985'; } 
.aa-line-icons[icon-name="swimming-pool"]:before { content: '\e986'; } 
.aa-line-icons[icon-name="t-shirt"]:before { content: '\e987'; } 
.aa-line-icons[icon-name="television"]:before { content: '\e988'; } 
.aa-line-icons[icon-name="tent"]:before { content: '\e989'; } 
.aa-line-icons[icon-name="textsms"]:before { content: '\e98a'; } 
.aa-line-icons[icon-name="ticket"]:before { content: '\e98b'; } 
.aa-line-icons[icon-name="time"]:before { content: '\e98c'; } 
.aa-line-icons[icon-name="timeline"]:before { content: '\e98d'; } 
.aa-line-icons[icon-name="title"]:before { content: '\e98e'; } 
.aa-line-icons[icon-name="tools"]:before { content: '\e98f'; } 
.aa-line-icons[icon-name="tow-truck"]:before { content: '\e990'; } 
.aa-line-icons[icon-name="translate-1"]:before { content: '\e991'; } 
.aa-line-icons[icon-name="translate"]:before { content: '\e992'; } 
.aa-line-icons[icon-name="trash"]:before { content: '\e993'; } 
.aa-line-icons[icon-name="tree-palm"]:before { content: '\e994'; } 
.aa-line-icons[icon-name="tree"]:before { content: '\e995'; } 
.aa-line-icons[icon-name="trending-down"]:before { content: '\e996'; } 
.aa-line-icons[icon-name="trending-flat"]:before { content: '\e997'; } 
.aa-line-icons[icon-name="trending-up"]:before { content: '\e998'; } 
.aa-line-icons[icon-name="trolley"]:before { content: '\e999'; } 
.aa-line-icons[icon-name="trophy"]:before { content: '\e99a'; } 
.aa-line-icons[icon-name="truck"]:before { content: '\e99b'; } 
.aa-line-icons[icon-name="turnstile"]:before { content: '\e99c'; } 
.aa-line-icons[icon-name="tv"]:before { content: '\e99d'; } 
.aa-line-icons[icon-name="twitter"]:before { content: '\e99e'; } 
.aa-line-icons[icon-name="umbrella"]:before { content: '\e99f'; } 
.aa-line-icons[icon-name="unarchive"]:before { content: '\e9a0'; } 
.aa-line-icons[icon-name="undo-arrow-1"]:before { content: '\e9a1'; } 
.aa-line-icons[icon-name="undo-arrow-2"]:before { content: '\e9a2'; } 
.aa-line-icons[icon-name="unfold-less"]:before { content: '\e9a3'; } 
.aa-line-icons[icon-name="unfold-more"]:before { content: '\e9a4'; } 
.aa-line-icons[icon-name="upload"]:before { content: '\e9a5'; } 
.aa-line-icons[icon-name="usb"]:before { content: '\e9a6'; } 
.aa-line-icons[icon-name="vector"]:before { content: '\e9a7'; } 
.aa-line-icons[icon-name="videocam-off"]:before { content: '\e9a8'; } 
.aa-line-icons[icon-name="videocam"]:before { content: '\e9a9'; } 
.aa-line-icons[icon-name="videogame-1"]:before { content: '\e9aa'; } 
.aa-line-icons[icon-name="videogame-2"]:before { content: '\e9ab'; } 
.aa-line-icons[icon-name="voicemail"]:before { content: '\e9ac'; } 
.aa-line-icons[icon-name="volume-down"]:before { content: '\e9ad'; } 
.aa-line-icons[icon-name="volume-mute"]:before { content: '\e9ae'; } 
.aa-line-icons[icon-name="volume-off"]:before { content: '\e9af'; } 
.aa-line-icons[icon-name="volume-up"]:before { content: '\e9b0'; } 
.aa-line-icons[icon-name="wallet"]:before { content: '\e9b1'; } 
.aa-line-icons[icon-name="warning-bubble"]:before { content: '\e9b2'; } 
.aa-line-icons[icon-name="warning"]:before { content: '\e9b3'; } 
.aa-line-icons[icon-name="web"]:before { content: '\e9b4'; } 
.aa-line-icons[icon-name="whatsapp"]:before { content: '\e9b5'; } 
.aa-line-icons[icon-name="wifi-off"]:before { content: '\e9b6'; } 
.aa-line-icons[icon-name="wifi"]:before { content: '\e9b7'; } 
.aa-line-icons[icon-name="window"]:before { content: '\e9b8'; } 
.aa-line-icons[icon-name="wine-glass"]:before { content: '\e9b9'; } 
.aa-line-icons[icon-name="work-off"]:before { content: '\e9ba'; } 
.aa-line-icons[icon-name="work"]:before { content: '\e9bb'; } 
.aa-line-icons[icon-name="wrench"]:before { content: '\e9bc'; } 
.aa-line-icons[icon-name="wristwatch"]:before { content: '\e9bd'; } 
.aa-line-icons[icon-name="x-circle"]:before { content: '\e9be'; } 
.aa-line-icons[icon-name="x"]:before { content: '\e9bf'; } 
.aa-line-icons[icon-name="youtube"]:before { content: '\e9c0'; } 
.aa-line-icons[icon-name="zoom-in"]:before { content: '\e9c1'; } 
.aa-line-icons[icon-name="zoom-out-2"]:before { content: '\e9c2'; } 
.aa-line-icons[icon-name="zoom-out"]:before { content: '\e9c3'; } 